<div class="background">
<table class="tabela">
    <tbody>
        <tr>
            <td><p>Quem é este Pokemon?</p></td>
            <td><p>Loldle</p></td>
        </tr>
        <tr>
            <td><div routerLink="advinhacao" class="escolha" id="jogoAdv"></div></td>
            <td><div routerLink="pokedex" class="escolha"></div></td>
        </tr>
        <tr>
            <td><p>Jogo 3</p></td>
            <td><p>Pokedex</p></td>
        </tr>
        <tr>
            <td><div class="escolha"></div></td>
            <td><div class="escolha"></div></td>
        </tr>
    </tbody>
</table>
</div>
