.background{
    height: 100%;
    user-select: none;
}
.escolha{
    width: 244px;
    height: 244px;
    border: 4px solid white;
    border-radius: 6px;
}
#jogoAdv{
    width: 244px;
    height: 244px;
    background-image: url(imagens/imgJogo1.png); 
    background-size: 100%;
}
#pokedex{
    background-color: red;
    background-image: url(imagens/imgPokedex.png);
    background-size: 88%;
    background-repeat: no-repeat;
    background-position: center;

}
.escolha:hover{
    cursor: pointer;
}
.escolha:active{
    filter: brightness(90%);
    transform: translate(0px, 4px);
}
.tabela{
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 12px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
}
p{
    width: 252px;
    font-size: 24px;
    color: white;
    font-weight: bold;
}
